@font-face {
   font-family: 'YanoneKaffeesatz-Regular';
   src: url('YanoneKaffeesatz-Regular/font.ttf');
}
@font-face {
   font-family: 'YanoneKaffeesatz-Light';
   src: url('YanoneKaffeesatz-Light/font.ttf');
}
